<!DOCTYPE html>
<html>
<head>
    <title>Place Autocomplete Parking Search</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style_cinema.css">

    </link>
</head>
<body>
<div id = "container-left">

    <div id = "menubar">
        <div id="findhotels">
            Cerca un parcheggio a:
        </div>

        <div id="controls">
            <select id="country">
                <option value="all">All</option>
                <option value="au">Australia</option>
                <option value="br">Brazil</option>
                <option value="ca">Canada</option>
                <option value="fr">France</option>
                <option value="de">Germany</option>
                <option value="mx">Mexico</option>
                <option value="nz">New Zealand</option>
                <option value="it" selected>Italy</option>
                <option value="za">South Africa</option>
                <option value="es">Spain</option>
                <option value="pt">Portugal</option>
                <option value="us">U.S.A.</option>
                <option value="uk">United Kingdom</option>
            </select>
        </div>

        <div id="locationField">
            <input id="autocomplete" placeholder="Inserisci una città" type="text" />
        </div>





        <div id="listing">
            <table>
                <tr>
                    <td><input id = "start"  type="text" readonly value="La tua posizione"></td>
                </tr>
                <tr>
                    <td><select id="results"></select></td>
                </tr>
            </table>
        </div>

        <button id = "FindPath">
            Cerca percorso
        </button>

    </div>

    <div id="map"></div>
</div>



<div id="right-panel"></div>
<div id = "container-right">
    <div id="welcome" align="center">
        <h1>WS_Cinema Chat</h1>
        <input type="button" id ="join" value="Join Chat" onclick="connectToChat();">
    </div>
    <div id="chat">
        <div id="messageForm">
            <h3>Inserisci il tuo messaggio:</h3>
            <input type="text" id="message">
            <input type="button" value="Invia" onclick="sendMessage();">
        </div>
        <h4>oppure</h4>
        <button onclick="sendPath()">Condividi la tua meta</button>

        <div id="chatBox"></div>
    </div>
</div>
<div style="display: none">
    <div id="info-content">
        <table>
            <tr id="iw-url-row" class="iw_table_row">
                <td id="iw-icon" class="iw_table_icon"></td>
                <td id="iw-url"></td>
            </tr>
            <tr id="iw-address-row" class="iw_table_row">
                <td class="iw_attribute_name">Address:</td>
                <td id="iw-address"></td>
            </tr>
            <tr id="iw-phone-row" class="iw_table_row">
                <td class="iw_attribute_name">Telephone:</td>
                <td id="iw-phone"></td>
            </tr>
            <tr id="iw-rating-row" class="iw_table_row">
                <td class="iw_attribute_name">Rating:</td>
                <td id="iw-rating"></td>
            </tr>
            <tr id="iw-website-row" class="iw_table_row">
                <td class="iw_attribute_name">Website:</td>
                <td id="iw-website"></td>
            </tr>
        </table>
    </div>
</div>
<script>
    var user = "<% if(user.local){ %><%= user.local.username%> <%} if(user.facebook){%> <%= user.facebook.last_name %><%}
    if(user.google){%> <%= user.google.name %> <%}%>";</script>
<script src = "websocket_chat.js"></script>
<script src = "maps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqz0pR-kzZcVK17lZgr1c-0y2IvecGCc4&libraries=places&callback=initMap" async defer></script>
</body>
</html>